@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Encode Sans SC", sans-serif;
  margin: 20px;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background: #1359cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 426px;
  background: #ffffff;
  border-radius: 8px;
  padding: 3%;
}

.gray-color {
  color: #bebebe;
}

.big-header {
  margin-top: 10px;
}

.msg {
  margin-top: 29px;
}

.msg small {
  font-weight: 900;
}

hr {
  margin-top: 44px;
  border: none;
  border-top: 1px dashed rgba(128, 128, 128,0.2);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 95%;
}

.items{
    display: flex;
    width: 100%;
    height: 42px;
    margin-top: 22px;
    justify-content: space-between;
}

/* .little-box{
    height: 27px;
    width: 27px;
    background: gray;
    border-bottom: 3px dashed gray;
} */


span{
    margin-left: 10px;
}

strong{
    margin-top: 20px;
    margin-left: 32px;
}

#apple{
margin-left: 10px;
}

.end{
   
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}


.heading{
    display:flex;
}


.music-logo{
    height: 60px;
    width: 60px;
    background-color: orangered;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
     box-shadow: 0 0 25px 0.1px #cecece;
}

.num{
    margin: 2px;
}